/* line 1, ../../app/stylesheets/scaffold.scss */
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 1024px;
}

/* line 7, ../../app/stylesheets/scaffold.scss */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 1024px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: #fff;
  color: #333;
}

/* line 18, ../../app/stylesheets/scaffold.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 23, ../../app/stylesheets/scaffold.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 28, ../../app/stylesheets/scaffold.scss */
a {
  color: #000;
}
/* line 30, ../../app/stylesheets/scaffold.scss */
a:visited {
  color: #666;
}
/* line 32, ../../app/stylesheets/scaffold.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 37, ../../app/stylesheets/scaffold.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, ../../app/stylesheets/scaffold.scss */
#notice {
  color: green;
}

/* line 43, ../../app/stylesheets/scaffold.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, ../../app/stylesheets/scaffold.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, ../../app/stylesheets/scaffold.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 64, ../../app/stylesheets/scaffold.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 68, ../../app/stylesheets/scaffold.scss */
#map_canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 600px;
}

/* line 74, ../../app/stylesheets/scaffold.scss */
#store_list {
  float: right;
  width: 400px;
}
